* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    background-color: black;
    height: 200px;
    width: 100vw;

    display: flex;
    justify-content: flex-start;
    align-content: center;
    gap: 10px 10px;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    /* flex-flow: column wrap;*/
}
.container div {
    height: 50px;
    width: 50px;
    background-color: red;
    font-weight: bold;
    color: white;
    
    
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container2 {
    margin-top: 10px;
}
