* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box {
  width: 99vw;
  height: 30vh;
  border: 5px solid black;
  background-color: hwb(120 6% 20%);
  margin: 5px;

  position: relative;
  /*  display: flex;
  justify-content:flex-start;
  align-items: flex-end;*/
}
.ball {
  width: 130px;
  height: 130px;
  background-color: hwb(0 21% 0%);
  border: 2px solid hwb(0 0% 81%);
  border-radius: 100px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.ball:hover {
  animation:
    move1 3s infinite linear alternate,
    move2 1s infinite ease-out alternate;
}
@keyframes move1 {
  from {
  }
  to {
    left: 87%;
  }
}
@keyframes move2 {
  from {
  }
  to {
    bottom: 78%;
  }
}
