@import url("https://fonts.googleapis.com/css2?family=Montenegrin+Gothic+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Geist+Pixel&family=Montenegrin+Gothic+One&display=swap");

h1 {
    font-family: "Montenegrin Gothic One", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
    text-decoration-style: dotted;
    background-color: yellow;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}
.font {
    font-family: "Segoe UI", Tahoma, Verdana, Sans-Serif;
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
}
.text {
    text-transform: capitalize;
    text-indent: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.color {
    font-family: "Montenegrin Gothic One", serif;
    font-weight: 400;
    font-style: normal;

   /* color: red; */
  /* color:#00cc14;*/
  color:rgb(0, 78, 204 ) ;
/* color:rgba(255,5,5,0.500);*/
/*color: hsl(360°, 100%, 51%);*/
}
