* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 80vw;
  width: 70vw;
  background-color: hwb(196 72% 2%);
}
.box {
  height: 200px;
  width: 200px;
  background-color: hwb(120 27% 4%);
  border-radius: 100px;
  animation-name: line;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
/*  animation: line2 1s infinite ease-in-out alternate-reverse;*/
}
@keyframes line {
  from {
    transform: translate(0,0);
  }
  to {
    transform: translate(450px,200px);
  }
}
@keyframes line2 {
  from {
  }
  to {
    transform: translatey(200px);
  }
}
