*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  height: 200px;
  width: 300px;
  object-fit: contain;
  border: px solid black;
/* object-position: top-left;*/
/*  filter: invert(1) blur(1px);*/
  filter: brightness(100%) contrast(150%) saturate(60%) ;
  
}