* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: red;
  height: 800px;
  width: 800px;
  margin: 80px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  background-color: yellow;
  height: 300px;
  width: 300px;
  transition: transform 1s ease-in-out 0s;
}
.box:hover {
  transform: translateX(10px) translateY(-20px) scale(1.2);
}
