* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  height: 40px;
  margin: 2px;
}
header > div:first-child {
  display: flex;
  align-items: center;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}
header div img {
  width: 30px;
  /*  border-radius: 40px;*/
}
header .UltraEdit {
  margin-left: 5px;
}
header div .UltraEditText1 {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
header div .UltraEditText2 {
  font-family: sans-serif;
  font-size: 5px;
  word-spacing: 2px;
  /*  border: 2px solid black;*/
}
header nav {
  margin-left: 80px;
}
header nav ul {
  font-family: sans-serif;
  font-size: 8px;
  gap: 5px;
}

main .txt1{
  font-family: sans-serif;
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  
}
main .txt1 span{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
}
main .txt2{
  font-family: Arial;
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
  
}
main .link{
  display: flex;
  justify-content: center;
  align-items:center;
  font-family: sans-serif;
  height: 30px;
  width: 200px;
  background-color: #0ac3e4;
/*  border: 2px solid black;*/
  color: white;
  margin-top: 20px;
  font-size: 10px;
  font-weight: bold;
  border-radius:3px;
  text-transform: uppercase;

}


@media screen and (min-width: 760px) {
  header {
    height: 100px;
    margin: 5px;
  }
header div img {
  width: 80px;
  /*  border-radius: 40px;*/
}
  header nav {
    margin-left: 200px;
  }
  header nav ul {
    font-size: 25px;
    
    gap: 10px;
    
  }
  header div .UltraEditText1 {
    font-size: 50px;
  }
  header div .UltraEditText2 {
    font-size: 15px;
    word-spacing: 4px;
    /*  border: 2px solid black;*/
  }
  main .txt1{
  
  margin-top: 60px;
  font-size: 50px;
  
}
main .txt1 span{

  font-size: 60px;
  
  
}
  main .txt2{
  

  margin: 30px;
  font-size: 30px;
  
}
  main .link{
  
  height: 50px;
  width: 350px;
  
  margin-top: 30px;
  font-size: 18px;
  
  border-radius:5px;
  

}
}
